<footer class="mdl-mega-footer">
  <div class="mdl-mega-footer__middle-section">

    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading">{% if site.translations.author %}{{ site.translations.author }}{% else %} Author {% endif %}</h1>
      <ul class="mdl-mega-footer__link-list">
        <li><span>{{ site.social_info.author }}</span></li>
        <li><a href="mailto:{{ site.email }}">{{ site.social_info.email }}</a></li>
        <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}">subscribe via RSS</a></li>
        <li><span>@2015 {{ site.title }}</span></li>
      </ul>
    </div>

    {% if site.social_info.facebook_link or site.social_info.twitter_link or site.social_info.linkedin_link or site.social_info.github_link %}
    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading">{% if site.translations.my_profiles %}{{ site.translations.my_profiles }}{% else %} My Profiles {% endif %}</h1>
      <ul class="mdl-mega-footer__link-list">
        {% if site.social_info.facebook_link %}
        <li><a href="{{ site.social_info.facebook_link }}" target="_blank">
            <i class="mdi mdi-facebook-box"></i>
            {{ site.social_info.facebook_link | split: '/' | last}}
          </a></li>
        {% endif %}
        {% if site.social_info.twitter_link %}
        <li><a href="{{ site.social_info.twitter_link }}" target="_blank">
            <i class="mdi mdi-twitter-box"></i>
          {{ site.social_info.twitter_link | split: '/' | last}}
          </a></li>
        {% endif %}
        {% if site.social_info.linkedin_link %}
        <li><a href="{{ site.social_info.linkedin_link }}" target="_blank">
          <i class="mdi mdi-linkedin-box"></i>
          {{ site.social_info.linkedin_link | split: '/' | last}}
        </a></li>
        {% endif %}
        {% if site.social_info.github_link %}
        <li><a href="{{ site.social_info.github_link }}" target="_blank">
          <i class="mdi mdi-github-box"></i>
          {{ site.social_info.github_link | split: '/' | last}}
        </a></li>
        {% endif %}
      </ul>
    </div>
    {% endif %}

    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading">{% if site.translations.about %}{{ site.translations.about }}{% else %} About {% endif %}</h1>
      <ul class="mdl-mega-footer__link-list">
        {{ site.description }}
      </ul>
    </div>
  </div>
</footer>