<footer class="mdl-mega-footer">
  <div class="mdl-mega-footer__middle-section">

    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading">Author</h1>
      <ul class="mdl-mega-footer__link-list">
        <li><span>{{ site.author }}</span></li>
        <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}">subscribe via RSS</a></li>
        <li><span>2015</span></li>
      </ul>
    </div>

    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading">My Profiles</h1>
      <ul class="mdl-mega-footer__link-list">
        <li><a href="#">
            <i class="mdi mdi-facebook-box"></i>
            Facebook
          </a></li>
        <li><a href="#">
            <i class="mdi mdi-twitter-box"></i>
            Twitter
          </a></li>
        <li><a href="#">
          <i class="mdi mdi-linkedin-box"></i>
          LinkedIn
        </a></li>
        <li><a>
          <i class="mdi mdi-github-box"></i>
          Github
        </a></li>
      </ul>
    </div>

    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading">About</h1>
      <p>
        {{ site.description }}
      </p>
    </div>
  </div>
</footer>