<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  <link rel="apple-touch-icon" sizes="57x57" href="/images/icons/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/images/icons/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/images/icons/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/images/icons/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/images/icons/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/images/icons/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/images/icons/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/images/icons/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/images/icons/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="/images/icons/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/images/icons/favicon-194x194.png" sizes="194x194">
  <link rel="icon" type="image/png" href="/images/icons/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/images/icons/android-chrome-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="/images/icons/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/images/icons/manifest.json">
  <meta name="apple-mobile-web-app-title" content="Code Hideout">
  <meta name="application-name" content="Code Hideout">
  <meta name="msapplication-TileColor" content="#00aba9">
  <meta name="msapplication-TileImage" content="/images/favs/mstile-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" href="{{"/vendor/mdl/material.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{"/vendor/prism/prism.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang={{ site.lang }}">
  <link href='https://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://cdn.materialdesignicons.com/1.2.65/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="{{"/css/main.css" | prepend: site.baseurl }}">

  {% include socialHead.html %}

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

  <script src="{{"/vendor/mdl/material.js" | prepend: site.baseurl }}"></script>
  <script src="{{"/vendor/prism/prism.js" | prepend: site.baseurl }}"></script>
</head>
