<header class="mdl-layout__header mdl-layout__header--transparent">
  <div class="mdl-layout__header-row">
    <!-- Title -->
    <span class="mdl-layout-title"><a href="{{ site.baseurl }}">{{ site.title }}</a></span>

  </div>
</header>
<div class="mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
  <header class="drawer-header">
    <img class="drawer-avatar" src="{{ site.avatar_link }}"/>
    <span class="drawer-username">{{ site.social_info.author }}</span>
  </header>
  <nav class="mdl-navigation">
    {% for page in site.pagelist %}
    <a class="mdl-navigation__link mdl-color-text--blue-grey-400" href="{{ page.link }}">
      <i class="material-icons" role="presentation">{{ page.icon }}</i>{{ page.title }}
    </a>
    {% endfor %}
  </nav>
</div>