<button id="share-post{{ current_index }}" class="mdl-button mdl-js-button mdl-button--icon">
    <i class="material-icons">share</i>
</button>
<ul class="mdl-menu share mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="share-post{{ current_index }}">
    <li class="mdl-menu__item">
        <a href="#"><i class=" mdi mdi-facebook-box"></i></a>
    </li>
    <li class="mdl-menu__item">
        <a href="#"><i class=" mdi mdi-twitter-box"></i></a>
    </li>
    <li class="mdl-menu__item">
        <a href="#"><i class=" mdi mdi-linkedin-box"></i></a>
    </li>
    <li class="mdl-menu__item">
        <a href="#"><i class=" mdi mdi-pinterest-box"></i></a>
    </li>
</ul>